body{
    background-color: #D8D8F6;
}

#iniciale {
 font-size: 150%;
    color: #690ca5
}

h1, h2, h3, h4, h5, h6 {
    color: #7E3F8F;
}

p {
    color: #143109
}

h1{
    font-size: 300%;
}

img{
    width: 500px;
}


.what3D{
    width: 50%;
    height: 20%;
    border-radius: 20px;
    background-color: red;
    justify-content: center;
}
.what3D:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.divp{
    padding: 10px;
}