body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, #4a0072, #00838f) ;
}

#iniciale {
    font-size: 150%;
    color: #690ca5
}

h1, h2, h3, h4, h5, h6 {
    color: #0f0529;
}

p {
    color: white;
}

h1{
    font-size: 300%;
}

img{
    width: 500px;
}

.divanim {
    width: 50%;
    color: #4a2574;
    height: 20%;
    border-radius: 20px;
    margin: 0 auto;
    transition:
            background-color 0.4s ease-in-out,
            transform 0.4s ease-in-out,
            box-shadow 0.4s ease-in-out;
}
.divanim:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.divp{
    padding: 10px;
    color: #3c1863;

}

.div1, .div2, .div3, .div4, .div5, .div6, .div7 {
    background-image: linear-gradient(45deg, #289eaafc, #289eaa24);
}
