.pelda1{
    width: 200px;
    border: 1px solid blue;
}
.pelda2{
    width: 200px;
    border: 1px solid blue;
    margin: 0px ;
}
.pelda3{
    width: 200px;
    border: 1px solid blue;
    margin: 10px;
}